<main class="main">
  <section class="main__card-right">
    <mat-nav-list class="main__list-horizontal">
      <mat-list-item>
        <button [routerLink]="['/inicio']">Home</button>
      </mat-list-item>

      <mat-list-item>
        <button routerLink="/transferencias">Transferencias</button>
      </mat-list-item>

      <mat-list-item>
        <button routerLink="/investimentos">Investimentos</button>
      </mat-list-item>

      <mat-list-item>
        <button routerLink="/outros-servicos">Outros Serviços</button>
      </mat-list-item>
    </mat-nav-list>
  </section>

  <section class="main__card-center">
    <section class="main__card-center-up">center-up</section>
    <section class="main__card-center-down">center-down</section>
  </section>

  <section class="main__card-left">left</section>
</main>
